 ignora cualquier archivo llamado "secret.txt"
secret.txt
# ignora cualquier directorio llamado "secrets"
secrets/
# ignora un archivo llamado "hidden.txt" ubicado en la raíz de tu directorio de trabajo
/hidden.txt
# ignora un directorio llamado "css" ubicado en la raíz de tu directorio de trabajo
/ccs2/
# ignora cualquier archivo con extensión .png
*.png
# ignora cualquier archivo o directorio que comienza con "cache", como cache-file-01, cached_assets/, etc.copy
cache*
# ignora cualquier archivo o directorio que termine con "data", como project_data/, big_file_of_data
*data